.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.demo {
   color: white;
   width: 100%;
   text-align: center;
   margin-bottom: -15px;
   background-color: darkred;
}

.demoTitle {
  font-weight: bold;
  font-style: italic;
}


.top {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}


.headerNav {
  background: #cc2033;
  margin: 0px;
}

.containerfluid {
  width: 90%;
  height: 100%;
}
.title {
  color: white !important;
  line-height: 52px;
  height: 52px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navLink {
  color: white !important;
  line-height: 52px;
  height: 52px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  cursor: pointer;
}
.navBtn {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
  width: 100%;
}
.toggleButton {
  border: none;
}

.ui-progressbar {
  min-height: 1.6em;
}